.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 999;
  background: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  padding: 0px 2.5vw;
  border: 1px solid grey;
  box-shadow: 1px 0px 1px grey;
}

.FaAlignJustify{
    color: white;
   
}
.logo {
  width: 9vw;
  margin-left: 50px;
 
}
.nav-search {
  display: flex;
  position: relative;
  height: 35px;
  max-width: 500px;
  min-width: 260px;
  height: 35px;
  max-width: fit-content;
  border-radius: 10% !important;
}
.nav-input {
    margin-left: 200px;
  width: 500px;
  height: 90%;
  border: 2px solid #484040;
  background-color: rgb(24, 22, 22);
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  color: white;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  text-transform: capitalize;
}

.nav_search_btn {
  width: 10%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  height: 100%;
  color: #000;
  background: #303030;
  padding: 5px 0;
  border-left: none;
  cursor: pointer;
}
.nav_search_btn img {
  height: 100%;
}

.voice-search{
    /* height: 32px; */
    padding: 0 10px;
}
.end{
    margin-left: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  size: 40px;
}

.profile-img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
