.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  border-bottom: 1px solid grey;
}

/* Left icons */
.FaAlignJustify {
  color: white;
  cursor: pointer;
}

.logo {
  width: 120px;
  margin-left: 20px;
}

/* Search Bar */
.nav-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
}

/* Input */
.nav-input {
  margin-left: 50px;
  width: 100%;
  height: 38px;
  border: 1px solid #484040;
  background: rgb(24, 22, 22);
  padding: 0 18px;
  font-size: 1rem;
  color: white;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Search Button */
.nav_search_btn {
  width: 60px;
  height: 38px;
  border: none;
  background: #303030;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_search_btn img {
  width: 20px;
  height: 20px;
}

/* Voice search icon */
.voice-search {
  margin-left: 10px;
  cursor: pointer;
}

/* Right side icons */
.end {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 40px;
}
